<label for="">Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<hr>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<hr>
<p>{{ serverCreationStatus }}</p>

<label for="">Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<hr>
<button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset user</button>
<hr>
<p>{{ username }}</p>

<hr>
<app-server></app-server>
<app-server></app-server>
